/* コンテナのスタイル */
.container {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* テキストコンテナのスタイル */
.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; /* CSSでは "left" の代わりに "flex-start" を使用 */
    margin-bottom: 5vh;
    margin-left: 5vw;
    margin-right: 5vw;
}

/* テキストスタイル */
.textStyle {
    color: #25274F;
    font-weight: 400;
    font-size: clamp(3px, 2.5vw, 20px); /* FontSizeGenerator の結果をカスタムプロパティに割り当て */
    margin-bottom: 1vh;
    margin-left: 10px;
}

/* キャプションテキストのスタイル */
.textCaptionStyle {
    color: #25274F;
    font-weight: 1000;
    text-decoration: underline;
    font-size: clamp(5px, 2.5vw, 25px); /* FontCaptionSizeGenerator の結果をカスタムプロパティに割り当て */
}

.myNameStyle{
    font-weight:1000;
    text-decoration: underline;
}