.drawerContainer {
    height: 100%;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: black;
}

.menuItem {
    width: 90%;
    margin: 1rem;
    font-family: "Times New Roman", serif;
    color: white;
    transition: all 0.3s ease;
    cursor: pointer;
}

.text  {
    z-index: 1000;
    text-align: left;
    width: 60%;
    display: flex;
    font-family: 'Times New Roman', serif;
    color: white;
    background-color: black;
    margin-top: 5vh;
    margin-left: 5vw;
    cursor: pointer;
}