.container {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    height: 100vh;
    width: 60vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; /* 左揃え */
    margin-bottom: 5vh;
    margin-left: 5vw;
    margin-right: 5vw;
}

.textStyle {
    color: #25274F;
    font-weight: 500;
    font-size: clamp(15px, 2.5vw, 25px); /* 動的なフォントサイズを使用 */
    margin-bottom: 1vh;
    margin-left: 10px;
}

.textCaptionStyle {
    color: #25274F;
    font-weight: 1000;
    text-decoration: underline;
    font-size: clamp(18px, 3vw, 30px); /* 見出し用フォントサイズ */
}

.email {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: #25274F;
    font-weight: 500;
    font-size: clamp(15px, 2.5vw, 25px);
    margin-left: 10px;
}