.container {
    z-index: 1003;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.border {
    font-size: clamp(5px, 2.5vw, 25px);
    font-weight: 100;
    margin: 5px;
    font-family: "Times New Roman", serif;
    color: black;
}

.languageButton {
    font-size: clamp(5px, 5vw, 40px);
    font-weight: 100;
    font-family: "Times New Roman", serif;
    cursor: pointer;
    color: black;
}

.languageButton.active {
    font-weight: 1000;
    text-decoration: underline;
    cursor: default;
    color: black;
}
