.sectionPage {
    z-index: 1000;
    position: absolute;
    top: 5vh;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    width: 90vw;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.sectionRight {
    z-index: 1000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}