* {
}

html, body, root {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: block;
}

.content {
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: block;
    position: absolute;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
    -ms-scroll-chaining: none;
    overscroll-behavior: none
}

.App {
    font-family: sans-serif;
    background-color: rgba(0, 0, 0, 0);
}
